.about-container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}

.about-img {
  width: 350px;
  border-radius: 1.5rem;
  justify-self: center;
  box-shadow: var(--glass-shadow);
  transform: rotate(3deg);
  transition: 0.3s;
}

.about-img:hover {
  transform: rotate(0);
}

.about-info {
  grid-template-columns: repeat(3, 1fr);
  /* Flexible width */
  gap: 1rem;
  margin-bottom: var(--mb-2);
}

.about-box {
  background: var(--glass-bg);
  border: 1px solid var(--glass-border);
  backdrop-filter: blur(12px);
  border-radius: 1rem;
  text-align: center;
  padding: 1.5rem 1rem;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-box:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.05);
}

.about-icon {
  font-size: 1.75rem;
  color: var(--primary-color);
  margin-bottom: var(--mb-0-5);
  display: block;
}

.about-title {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-25);
}

.about-subtitle {
  font-size: var(--tiny-font-size);
  color: var(--text-color-light);
  display: block;
}

.about-description {
  padding: 0 1rem 0 0;
  margin-bottom: var(--mb-2-5);
  line-height: 1.7;
  color: var(--text-color);
}

/* ============ Breakpoints ============ */
@media screen and (max-width: 992px) {
  .about-container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .about-img {
    width: 250px;
  }

  .about-box {
    padding: 1rem 0.75rem;
  }

  .about-data {
    text-align: center;
  }

  .about-info {
    justify-content: center;
    max-width: 500px;
    margin: 0 auto var(--mb-2);
  }

  .about-description {
    padding: 0;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .about-info {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-description {
    text-align: center;
    /* Center text on mobile */
  }
}

@media screen and (max-width: 350px) {
  .about-info {
    grid-template-columns: repeat(2, 1fr);
  }
}
