.qualification-container {
  max-width: 786px;
}

.qualification-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-2);
}

.qualification-button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  margin: 0 var(--mb-1);
  cursor: pointer;
  transition: 0.3s;
}

.qualification-button:hover {
  color: var(--primary-color);
}

.qualification-icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
  transition: 0.3s;
}

.qualification-active {
  color: var(--primary-color);
  transform: scale(1.05);
}

.qualification-sections {
  display: flex;
  justify-content: center;
}

.qualification-content {
  display: none;
  width: 100%;
}

.qualification-content-active {
  display: block;
}

.qualification-data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification-subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color-light);
}

.qualification-more-details {
  font-size: var(--small-font-size);
}

.qualification-rounder {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--primary-color);
  z-index: 10;
  position: relative;
}

.qualification-line {
  display: block;
  width: 2px;
  height: 100%;
  background-color: var(--text-color-light);
  transform: translate(7px, -7px);
  opacity: 0.3;
}

.qualification-more-button {
  color: var(--primary-color);
  font-size: var(--small-font-size);
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
  font-weight: var(--font-medium);
}

.qualification-button-icon {
  font-size: 1.1rem;
  transition: 0.3s;
}

.qualification-more-button:hover .qualification-button-icon {
  transform: translateX(0.25rem);
}

/* Modal */
.qualification-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: var(--z-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  backdrop-filter: blur(5px);
}

.qualification-modal-content {
  width: 600px;
  max-height: 85vh;
  position: relative;
  background: var(--container-color);
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
}

/* Header */

.qualification-modal-content > .qualification-modal-close {
  align-self: flex-end;
  /* Places it to the right */
  position: relative;
  top: 0;
  right: 0;
  margin-bottom: 0.5rem;
}

.qualification-modal-title {
  text-align: center;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
  flex-shrink: 0;
}

.qualification-modal-close {
  position: sticky;
  top: 0;
  right: 0;
  margin-left: auto;
  /* Force to right */
  font-size: 1.8rem;
  color: var(--primary-color);
  cursor: pointer;
  z-index: 20;
  background: var(--container-color);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

/* Make the content scrollable */
.qualification-modal-content {
  overflow-y: auto;
  /* Scrollbar */
  scrollbar-width: thin;
}

.qualification-modal-content::-webkit-scrollbar {
  width: 4px;
}

.qualification-modal-content::-webkit-scrollbar-thumb {
  background-color: var(--text-color-light);
  border-radius: 0.5rem;
}

.qualification-modal-info {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.active-modal {
  opacity: 1;
  visibility: visible;
}

/* Formatting for modal text */
.qualification-modal-services {
  row-gap: 1rem;
}

/* ============ Breakpoints ============ */
@media screen and (max-width: 768px) {
  .qualification-container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .qualification-modal-content {
    width: 90vw;
    padding: 2rem 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .qualification-tabs {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .qualification-button {
    font-size: var(--normal-font-size);
  }
}
